*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;

}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


h1{
    height: 50px;
    width: 1600px;
    margin: 10px 50px;
    padding-top:50px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    position: fixed;
    
    align-items: center;
    text-align: center;
    z-index: 10;
    color: white;
}

h2{
    height: 50px;
    width: 1600px;
    margin: 10px 50px;
    padding-top:50px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    position: fixed;
    top:30px;   
    align-items: center;
    text-align: center;
    z-index: 10;
    color: white;
}

